@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Vinabook.Models.DanhMuc>

<div class="header-mid__search">
    <form asp-controller="Sach" asp-action="Index" style="display: flex;">
        <select name="batma">
            <option value="0">Chọn Thể Loại</option>
            @foreach (var item in Model)
            {
                <option value="@item.MaDanhMuc">@item.Ten</option>

            }
        </select>
        <input type="text" placeholder="Tìm kiếm tựa sách, tác giả" class="header-mid__search-box" name="tukhoa" style="padding-left: 20px;">
        <button class="header-mid__search-btn" type="submit">Tìm sách</button>
    </form>

</div>


