@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/cart.css">
</head>
<body>
    <div class="frame">
        @await Component.InvokeAsync("Header")
        <div class="container">
            <div class="grid">
                <h3 class="main-tilte">giỏ hàng</h3>
                <div class="grid__row">
                    <div class="grid__colunm-8">
                        <div class="product">
                            <h3 class="product-title">Sản Phẩm</h3>
                            @RenderBody()
                        </div>
                    </div>
                    <div class="grid__colunm-4">
                        <div class="bill">
                            <h3 class="bill-title">tóm tắt đơn hàng</h3>
                            <table class="bill-table">
                                <tr>
                                    <td>Sản phẩm</td>
                                    <td class="bill-table__right"></td>
                                </tr>
                                <tr>
                                    <td>Phí vận chuyển</td>
                                    <td class="bill-table__right">Miễn phí</td>
                                </tr>
                                <tr>
                                    <td><b>TẠM TÍNH</b></td>
                                    <td class="bill-table__right"><span class="bill-price">   </span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding-top: 20px;" class="bill-table__right">(Đã bao gồm Thuế VAT và Phí đóng gói cơ bản).</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><hr></td>
                                </tr>
                                <tr>
                                    <td><b>TỔNG CỘNG</b></td>
                                    <td class="bill-table__right"><b></b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="cart-btn">
                    <a href="/assets/index.html" class="cart-bt__back">Quay lại</a>
                    <a href="#" class="cart-bt__pay">Thanh toán</a>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Footer")
    </div>
    <script src="/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>