@model IEnumerable<Vinabook.Models.DanhMuc>
@{
}
<div class="overlay" style="display:none"></div>
<div class="search-section">
    <div class="container-fluid container-xl">
        <div class="row main-content ml-md-0">
            <div class="sidebar col-md-3 px-0">
                <div class="sidebar__inner ">
                    <div class="filter-body">
                            <h2 class="font-xbold body-font border-bottom filter-title">Lọc theo danh mục</h2>
                        <form id="filter-cate" asp-controller="Sach" asp-action="Index">
                                <div class="mb-3 filter-options" id="cusine-options">
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="radio" name="batma" class="custom-control-input" value="all" checked>
                                    <label class="custom-control-label">all</label>
                                    </div>
                                    @foreach (var item in Model)
                                    {
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="radio" name="batma" class="custom-control-input" value="@item.MaDanhMuc">
                                            <label class="custom-control-label">@item.Ten</label>
                                        </div>

                                    }
                                </div>
                                <button id="Filter-btn" type="submit">Lọc</button>
                        </form>

                            <!-- loc theo gia -->
                            <h2 class="font-xbold body-font border-bottom filter-title">Lọc theo giá</h2>
                        <form asp-controller="Sach" asp-action="LocTheoGia" id="filter-price">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="radio" name="locgia" class="custom-control-input" value="all" checked>
                                <label class="custom-control-label" for="">all</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                <input type="radio" name="locgia" class="custom-control-input" value="0-100">
                                    <label class="custom-control-label" for="">0 - 100.000đ</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                <input type="radio" name="locgia" class="custom-control-input" value="100-200">
                                    <label class="custom-control-label" for="">100.000đ - 200.000đ</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                <input type="radio" name="locgia" class="custom-control-input" value=">200">
                                <label class="custom-control-label" for="">200.000đ trở lên</label>
                                </div>
                            <button id="Filter-btn" type="submit">Lọc</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
